<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-12 col-md-12 mr-0" href="#">Gerenciador de Fornecedores</a>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar shadow">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/empresas" routerLinkActive="active">
                <i class="fas fa-building"></i>
                Empresas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/fornecedores" routerLinkActive="active">
                <i class="fas fa-users"></i>
                Fornecedores
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-10 offset-md-2 col-lg-10 px-4 pb-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</body>
